.todo_container {
    width: 100%;
    height: 100vh;    
}

.todo_wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo_wrapper > button {
    font-size: 18px;
    line-height: 18px;
    padding: 2px 5px;
}

.todo_wrapper > .todo_list {
    display: flex;
    flex-direction: column;
}

.todo_wrapper > .todo_list > span {
    font-size: 15px;
    line-height: 18px;
}